.header {
  background-color: var(--color-white);
  box-shadow: 0px 2px 8px 0px #00000033;
  
  width: 100%;
  padding: 0.75rem 1rem;
}

@media (width < 580px)  {
  .header {
    padding: 0.5rem;
  }
}